{% liquid
  if block.settings.use_default
    assign settings = app.metafields.search
  else
    assign settings = block.settings
  endif
%}
<script>
  bloomreachConnector.config.search = {
    enabled: true,
    selector: "#br-product-search-container",
    fields: "{{ settings.fl_fields }}",
    endpoint: "{{ settings.endpoint }}",
    items_per_page: {{ settings.items_per_page }},
    display_variants: {{ settings.display_variants }},
    facets_included: {{ settings.facets_included }},
    initial_number_of_facets: {{ settings.initial_number_of_facets }},
    initial_number_of_facet_values: {{ settings.initial_number_of_facet_values }},
    infinite_scroll: {{ settings.infinite_scroll }},
    sorting_options: {{ app.metafields.search.sorting_options }},
    is_search_page: {% if request.page_type == "search" %}true{% else %}false{% endif %},
    additional_parameters: "{{ settings.additional_parameters | replace: '"', '\"' }}",
    force_v3_facets: {{ block.settings.force_v3_facets | default: false }},
{%- if request.design_mode %}
    test_query: "{{ block.settings.test_query | replace: '"', '\"' }}",
{%- endif %}
  };

  {% render "bloomreach-template", template_name: "search" %}
  {% render "bloomreach-template", template_name: "search_product_list" %}

  (function() {
    document.addEventListener("DOMContentLoaded", () => {
      window.BloomreachModules.search.load().catch(console.log);
    });
  })();
</script>
{% unless settings.custom_css == blank %}
{% style %}
  {{ settings.custom_css }}
{% endstyle %}
{% endunless %}

<div id="br-product-search-container" class="br-product-search-container">&nbsp;</div>

{% if request.design_mode %}
  <!-- This will only render in the theme editor -->
  {% style %}
    .br-product-search-container { display: block; padding: 1.5em; min-height: 90vh; }
  {% endstyle %}
{% endif %}

{% schema %}
  {
    "name": "t:searchConfig.settings.name",
    "target": "section",
    "javascript": "search.js",
    "stylesheet": "search.css",
    "enabled_on": {
      "templates": ["search"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:searchConfig.settings.description"
      },
      {
        "id": "test_query",
        "label": "t:searchConfig.testQuery.label",
        "type": "text",
        "info": "t:searchConfig.testQuery.info"
      },
      {
        "id": "use_default",
        "label": "t:searchConfig.useDefault.label",
        "type": "checkbox",
        "info": "t:searchConfig.useDefault.info",
        "default": true
      },
      {
        "id": "endpoint",
        "label": "t:searchConfig.endpoint.label",
        "type": "select",
        "options": [
          {
            "label": "Staging",
            "value": "https://staging-core.dxpapi.com/api/v1/core/"
          },
          {
            "label": "Production",
            "value": "https://core.dxpapi.com/api/v1/core/"
          }
        ]
      },
      {
        "id": "items_per_page",
        "label": "t:searchConfig.itemsPerPage.label",
        "type": "number",
        "default": 16
      },
      {
        "id": "display_variants",
        "label": "t:searchConfig.displayVariants.label",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "facets_included",
        "label": "t:searchConfig.includeFacets.label",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "initial_number_of_facets",
        "label": "t:searchConfig.numberOfFacets.label",
        "type": "number",
        "default": 3
      },
      {
        "id": "initial_number_of_facet_values",
        "label": "t:searchConfig.numberOfFacetValues.label",
        "type": "number",
        "default": 6
      },
      {
        "id": "force_v3_facets",
        "label": "Force V3 Facets?",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "infinite_scroll",
        "label": "t:searchConfig.infiniteScroll.label",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "fl_fields",
        "label": "t:searchConfig.flFields.label",
        "type": "text"
      },
      {
        "id": "custom_css",
        "label": "t:searchConfig.customCss.label",
        "type": "textarea"
      },
      {
        "id": "additional_parameters",
        "label": "t:searchConfig.additionalParameters.label",
        "type": "text",
        "info": "t:searchConfig.additionalParameters.info",
        "placeholder": "name1=value1&name2=value2"
      }
    ]
  }
{% endschema %}
