{% liquid
  if block.settings.use_default
    assign settings = app.metafields.category
  else
    assign settings = block.settings
  endif
%}
<script>
  bloomreachConnector.config.category = {
    enabled: true,
    fields: "{{ settings.fl_fields }}",
    endpoint: "{{ settings.endpoint }}",
    selector: "section#br-product-category-container",
    items_per_page: {{ settings.items_per_page }},
    facets_included: {{ settings.facets_included }},
    initial_number_of_facets: {{ settings.initial_number_of_facets }},
    initial_number_of_facet_values: {{ settings.initial_number_of_facet_values }},
    infinite_scroll: {{ settings.infinite_scroll }},
    sorting_options: {{ app.metafields.search.sorting_options }},
    is_category_page: {% if request.page_type == "collection" %}true{% else %}false{% endif %},
    category_id: "{{ collection.handle | escape }}",
    additional_parameters: "{{ settings.additional_parameters | replace: '"', '\"' }}",
    force_v3_facets: {{ block.settings.force_v3_facets | default: false }},
  };

  {% render "bloomreach-template", template_name: "category" %}
  {% render "bloomreach-template", template_name: "category_product_list" %}

  (function() {
    document.addEventListener("DOMContentLoaded", () => {
      window.BloomreachModules.search.load().catch(console.log);
    });
  })();
</script>
{% unless settings.custom_css == blank %}
{% style %}
  {{ settings.custom_css }}
{% endstyle %}
{% endunless %}

<div id="br-product-category-container" class="br-product-category-container">&nbsp;</div>

{% if request.design_mode %}
  <!-- This will only render in the theme editor -->
  {% style %}
    .br-product-category-container { display: block; padding: 1.5em; min-height: 90vh; }
  {% endstyle %}
{% endif %}

{% schema %}
  {
    "name": "t:categoryConfig.settings.name",
    "target": "section",
    "javascript": "category.js",
    "stylesheet": "category.css",
    "enabled_on": {
      "templates": ["collection"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:categoryConfig.settings.description"
      },
      {
        "id": "use_default",
        "label": "t:categoryConfig.useDefault.label",
        "type": "checkbox",
        "info": "t:categoryConfig.useDefault.info",
        "default": true
      },
      {
        "id": "endpoint",
        "label": "t:categoryConfig.endpoint.label",
        "type": "select",
        "options": [
          {
            "label": "Staging",
            "value": "https://staging-core.dxpapi.com/api/v1/core/"
          },
          {
            "label": "Production",
            "value": "https://core.dxpapi.com/api/v1/core/"
          }
        ]
      },
      {
        "id": "items_per_page",
        "label": "t:categoryConfig.itemsPerPage.label",
        "type": "number",
        "default": 16
      },
      {
        "id": "facets_included",
        "label": "t:categoryConfig.includeFacets.label",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "initial_number_of_facets",
        "label": "t:categoryConfig.numberOfFacets.label",
        "type": "number",
        "default": 3
      },
      {
        "id": "initial_number_of_facet_values",
        "label": "t:categoryConfig.numberOfFacetValues.label",
        "type": "number",
        "default": 6
      },
      {
        "id": "force_v3_facets",
        "label": "Force V3 Facets?",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "infinite_scroll",
        "label": "t:categoryConfig.infiniteScroll.label",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "fl_fields",
        "label": "t:categoryConfig.flFields.label",
        "type": "text",
        "default": "pid,title,brand,price,sale_price,thumb_image,sku_thumb_images,sku_swatch_images,sku_color_group,url,price_range,sale_price_range,description"
      },
      {
        "id": "custom_css",
        "label": "t:categoryConfig.customCss.label",
        "type": "textarea"
      },
      {
        "id": "additional_parameters",
        "label": "t:categoryConfig.additionalParameters.label",
        "type": "text",
        "info": "t:categoryConfig.additionalParameters.info",
        "placeholder": "name1=value1&name2=value2"
      }
    ]
  }
{% endschema %}
